<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:b="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 
 
    <http auto-config="true" use-expressions="true"  entry-point-ref="gaeEntryPoint">
        <intercept-url pattern="/*AutenticacionGoogle*" access="permitAll" />
        <intercept-url pattern="/*admin*" access="permitAll" />
        <intercept-url pattern="/InformacionProducto*" access="hasRole('USER')" />
        <intercept-url pattern="/InformacionProducto*" access="hasRole('ADMIN_APP')" />
        <intercept-url pattern="/register.htm*" access="hasRole('NEW_USER')" />
       <!--  <intercept-url pattern="/**" access="hasRole('USER')" /> -->
         
        <custom-filter position="PRE_AUTH_FILTER" ref="gaeFilter" />
    </http>

    <b:bean id="gaeEntryPoint" class="co.com.pradalabs.odontoclinicbackend.config.seguridad.GoogleAccountsAuthenticationEntryPoint" />

    <b:bean id="gaeFilter" class="co.com.pradalabs.odontoclinicbackend.config.seguridad.GaeAuthenticationFilter">
        <b:property name="authenticationManager" ref="authenticationManager"/>
    </b:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="gaeAuthenticationProvider"/>
    </authentication-manager>

    <b:bean id="gaeAuthenticationProvider" class="co.com.pradalabs.odontoclinicbackend.config.seguridad.GoogleAccountsAuthenticationProvider">
        <b:property name="userRegistry" ref="userRegistry" />
    </b:bean>

    <b:bean id="userRegistry" class="co.com.pradalabs.odontoclinicbackend.config.seguridad.GaeDatastoreUserRegistry" />

 
</b:beans>